<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Handling</title>
</head>
<body>

    <form action="/form" method="POST">
        <h2>Form Handling</h2>
        
        <label for="name">Name:</label>
        <input type="text" name="UserName" placeholder="enter name" maxlength="40" minlength="1" required>
        <br>
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="example@email.com" required>
        <br>
        <br>
        <label for="pwd">Password:</label>
        <input type="password" name="password" id="pwd" required >

        <input type="submit" value="submit"></input>

  

    </form>
    
</body>
</html>