*{
    margin: 0;
    padding:0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(70, 65, 57);
    color: white;
}

.container{
    background-color: rgb(15, 1, 10);
    padding: 2rem;
    border-radius: 1rem;
    min-height: 50vh;
    width: 45vh;
    border: 1px solid rgb(200, 0, 255);
    box-shadow: 0 0 20px rgb(227, 127, 255);
}

form{
    margin-top: 2rem;
    margin-bottom: 1rem;
   
}

form select,button,input{
    width: 95%;
    border:none;
    outline: none;
    border-radius: 0.75rem;

}

form input{
    border: 1px solid #ffffff;
    font-size: 1rem;
    height: 3rem;
    margin: 0.2rem 0rem 0.5rem 0rem;
    padding-left: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: Cambria;
    background-color: rgb(0, 0, 0);
    color: white;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}



.select-container img{
    max-width: 2rem;
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid #ffffff;
}


.dropdown i{
    font-size: 1.5rem;
    margin-top: 2rem;
}

.select-container select{
    font-size: 1rem;
    width: auto;
    background-color: black;
    color: white;
}

.msg{
    margin: 2rem 0 2rem 0;
    font-family: Cambria;
    font-weight: 500;
    font-size: 1rem;
}

form button{
    height: 3rem;
    background-color: rgb(130, 0, 167);
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border:  none; 
    cursor: pointer;
}

.amount p{
    font-family: Cambria;
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
    padding-left: 0.1rem;
}

.dropdown p{
    font-family: Cambria;
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
    padding-left: 0.1rem;
}

.container h1{
    color: rgb(0, 255, 255);
    font-family: Cambria;
    font-weight: 800;
    text-align: center;
    text-decoration-style: solid;
    text-decoration-line: underline;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.7rem;
}